<div>
  <span class="component-title">[{{ title }}]</span>
  <p *ngIf="!credit">Loading...</p>
  <div *ngIf="credit">
    <main class="single">
      <table class="table table-sm">
        <tr>
          <td>Id:</td>
          <td>
            <input
              [(ngModel)]="credit.id"
              class="rounded"
              type="text"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>Movie:</td>
          <td>
            <input
              [(ngModel)]="credit.movie.title"
              class="rounded"
              type="text"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>Actor:</td>
          <td>
            <input
              class="rounded"
              type="text"
              value="{{credit.actor.lastName}}, {{credit.actor.firstName}}"
              disabled
            > 
          </td>
        </tr>
        <tr>
          <td>Role:</td>
          <td>
            <input
              [(ngModel)]="credit.role"
              class="rounded"
              type="text"
              disabled
            />
          </td>
        </tr>
      </table>
    </main>
    <span>
      <span
        ><a
          routerLink="/credit/edit/{{ credit.id }}"
          class="btn btn-sm btn-warning"
          >Edit</a
        ></span
      >
      <span>
        |
        <button (click)="delete()" class="btn btn-sm btn-danger">
          Delete
        </button></span
      >
    </span>
    <p *ngIf="message">{{ message }}</p>
  </div>
</div>
