<app-menu></app-menu>
<div>
  <span class="component-title">[{{ title }}]</span>
  <p *ngIf="!actor">Loading...</p>
  <div *ngIf="actor">
    <main class="single">
      <table class="table table-sm">
        <tr>
          <td>Id:</td>
          <td>
            <input
              [(ngModel)]="actor.id"
              class="rounded"
              type="text"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>FirstName:</td>
          <td>
            <input
              [(ngModel)]="actor.firstName"
              class="rounded"
              type="text"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>Rating:</td>
          <td>
            <input
              [(ngModel)]="actor.lastName"
              class="rounded"
              type="text"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td>
            <input
              [(ngModel)]="actor.gender"
              class="rounded"
              type="text"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>BirthDate:</td>
          <td>
            <input
              [(ngModel)]="actor.birthDate"
              class="rounded"
              type="date"
              disabled
            />
          </td>
        </tr>
      </table>
    </main>
    <span>
      <span
        ><a
          routerLink="/actor/edit/{{ actor.id }}"
          class="btn btn-sm btn-warning"
          >Edit</a
        ></span
      >
      <span>
        |
        <button (click)="delete()" class="btn btn-sm btn-danger">
          Delete
        </button></span
      >
    </span>
    <p *ngIf="message">{{ message }}</p>
  </div>
</div>
